infra/n8n/workflows/WF-03-IA-Reescrita-Auditoria-Publicacao.json
{
  "name": "WF-03 IA Reescrita Auditoria Publicacao",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/news_clusters",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,topic,fingerprint,source_count,confidence_score,primary_staging_id,created_at" },
            { "name": "confidence_score", "value": "gte.60" },
            { "name": "order", "value": "confidence_score.desc" },
            { "name": "limit", "value": "3" }
          ]
        }
      },
      "id": "fetch_clusters",
      "name": "Fetch High-Confidence Clusters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-960, 200]
    },
    {
      "parameters": {
        "jsCode": "// Filter clusters that already have a curated_post (avoid duplicates)\nconst clusters = Array.isArray(items[0]?.json) ? items[0].json : items.map(i => i.json);\nif (!clusters || clusters.length === 0) return [];\nreturn clusters.map(c => ({ json: c }));"
      },
      "id": "normalize_input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/news_staging",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "title,summary,content,source_name,canonical_url,topic,published_at" },
            { "name": "duplicate_fingerprint", "value": "=eq.{{$json.fingerprint}}" },
            { "name": "limit", "value": "5" }
          ]
        }
      },
      "id": "fetch_sources",
      "name": "Fetch Source Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 200]
    },
    {
      "parameters": {
        "jsCode": "const cluster = $('Normalize Input').item.json;\nconst sources = Array.isArray($json) ? $json : [$json];\n\nconst sourceTexts = sources.map((s, i) => {\n  return `Fonte ${i + 1} (${s.source_name || 'desconhecido'}):\\nTitulo: ${s.title || ''}\\nResumo: ${s.summary || s.content || ''}\\nURL: ${s.canonical_url || ''}`;\n}).join('\\n\\n');\n\nconst topicMap = {\n  'ia': 'Inteligência Artificial',\n  'ciberseguranca': 'Cibersegurança',\n  'automacao': 'Automação',\n  'geral': 'Tecnologia'\n};\n\nconst topicLabel = topicMap[cluster.topic] || cluster.topic || 'Tecnologia';\n\nconst prompt = `Es um jornalista tecnologico portugues do portal Vision7. Escreve um artigo ORIGINAL baseado nas fontes abaixo.\\n\\nREGRAS:\\n- Artigo 100% original, NAO copies frases das fontes\\n- Tom informativo e profissional, portugues europeu\\n- Entre 300 e 600 palavras\\n- Inclui titulo atrativo (sem clickbait)\\n- Inclui subtitulo de 1 linha\\n- Inclui excerpt (resumo de 2 frases)\\n- Corpo em Markdown\\n- Tema: ${topicLabel}\\n- NAO inventes dados ou estatisticas\\n- Cita fontes quando relevante\\n\\nFONTES:\\n${sourceTexts}\\n\\nResponde APENAS em JSON valido:\\n{\\n  \"title\": \"...\",\\n  \"subtitle\": \"...\",\\n  \"excerpt\": \"...\",\\n  \"body_markdown\": \"...\",\\n  \"topic\": \"${cluster.topic}\"\\n}`;\n\nreturn [{\n  json: {\n    cluster_id: cluster.id,\n    fingerprint: cluster.fingerprint,\n    confidence_score: cluster.confidence_score,\n    source_count: sources.length,\n    topic: cluster.topic,\n    prompt: prompt\n  }\n}];"
      },
      "id": "build_prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Es um jornalista tech portugues. Responde SEMPRE em JSON valido.\" },\n    { \"role\": \"user\", \"content\": $json.prompt }\n  ]\n} }}"
      },
      "id": "ai_generate",
      "name": "AI Generate Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Build AI Prompt').item.json;\nconst response = $json;\n\n// Parse AI response\nlet article;\ntry {\n  const content = response.choices[0].message.content;\n  // Remove markdown code fences if present\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  article = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI response: ' + e.message, cluster_id: prev.cluster_id, skip: true } }];\n}\n\n// AUDIT: validate quality\nconst audit = {\n  has_title: Boolean(article.title && article.title.length > 10),\n  has_body: Boolean(article.body_markdown && article.body_markdown.length > 200),\n  has_excerpt: Boolean(article.excerpt && article.excerpt.length > 20),\n  body_length: (article.body_markdown || '').length,\n  no_suspicious_urls: !/https?:\\/\\/(?!vision7|google|microsoft|apple|meta)/i.test(article.body_markdown || ''),\n  language_ok: /[áàãâéêíóôõúç]/i.test(article.body_markdown || '') // Portuguese chars present\n};\n\nconst passedChecks = Object.values(audit).filter(v => v === true).length;\nconst totalChecks = Object.keys(audit).length - 1; // exclude body_length (numeric)\nconst editorial_score = Math.round((passedChecks / totalChecks) * 100);\n\n// Generate slug from title\nconst slug = (article.title || 'sem-titulo')\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 80)\n  + '-' + Date.now().toString(36);\n\nreturn [{\n  json: {\n    cluster_id: prev.cluster_id,\n    fingerprint: prev.fingerprint,\n    title: article.title || 'Sem titulo',\n    subtitle: article.subtitle || null,\n    slug: slug,\n    excerpt: article.excerpt || null,\n    body_markdown: article.body_markdown || '',\n    body_html: null,\n    language: 'pt',\n    editorial_score: editorial_score,\n    confidence_score: prev.confidence_score,\n    status: editorial_score >= 70 ? 'ready' : 'draft',\n    tone_profile: 'vision7',\n    topic: prev.topic,\n    model_info: {\n      model: 'gpt-4o-mini',\n      source_count: prev.source_count,\n      generated_at: new Date().toISOString()\n    },\n    moderation: audit,\n    skip: false\n  }\n}];"
      },
      "id": "audit_score",
      "name": "Audit and Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip}}",
              "value2": true,
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "filter_valid",
      "name": "Filter Valid Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/curated_posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  cluster_id: $json.cluster_id,\n  title: $json.title,\n  subtitle: $json.subtitle,\n  slug: $json.slug,\n  excerpt: $json.excerpt,\n  body_markdown: $json.body_markdown,\n  body_html: $json.body_html,\n  language: $json.language,\n  editorial_score: $json.editorial_score,\n  confidence_score: $json.confidence_score,\n  status: $json.status,\n  tone_profile: $json.tone_profile,\n  model_info: $json.model_info,\n  moderation: $json.moderation\n} }}"
      },
      "id": "save_curated_post",
      "name": "Save Curated Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/news_staging",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "duplicate_fingerprint", "value": "=eq.{{$json.fingerprint}}" },
            { "name": "processed", "value": "eq.true" }
          ]
        }
      },
      "id": "cleanup_staging",
      "name": "Cleanup Staging",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/news_clusters",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{$json.cluster_id}}" }
          ]
        }
      },
      "id": "cleanup_cluster",
      "name": "Cleanup Cluster",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 100],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Fetch High-Confidence Clusters", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch High-Confidence Clusters": {
      "main": [
        [
          { "node": "Normalize Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          { "node": "Fetch Source Articles", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Source Articles": {
      "main": [
        [
          { "node": "Build AI Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          { "node": "AI Generate Article", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI Generate Article": {
      "main": [
        [
          { "node": "Audit and Score", "type": "main", "index": 0 }
        ]
      ]
    },
    "Audit and Score": {
      "main": [
        [
          { "node": "Filter Valid Posts", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Valid Posts": {
      "main": [
        [
          { "node": "Save Curated Post", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Save Curated Post": {
      "main": [
        [
          { "node": "Cleanup Staging", "type": "main", "index": 0 }
        ]
      ]
    },
    "Cleanup Staging": {
      "main": [
        [
          { "node": "Cleanup Cluster", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
