infra/n8n/workflows/WF-02-Deduplicacao-Cluster-Curadoria-Base.json
{
  "name": "WF-02 Deduplicacao Cluster Curadoria Base",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/news_staging",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,title,summary,canonical_url,source_name,topic,published_at,duplicate_fingerprint,metadata"
            },
            {
              "name": "processed",
              "value": "eq.false"
            },
            {
              "name": "order",
              "value": "collected_at.desc"
            },
            {
              "name": "limit",
              "value": "200"
            }
          ]
        }
      },
      "id": "fetch_staging",
      "name": "Fetch Unprocessed Staging",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "function topicOf(row) {\n  return String(row.topic || 'geral').toLowerCase();\n}\n\nfunction confidence(cluster) {\n  const base = 55;\n  const addBySources = Math.min(cluster.items.length * 8, 30);\n  return Math.min(base + addBySources, 95);\n}\n\nconst rows = items[0]?.json || [];\nif (!Array.isArray(rows) || rows.length === 0) {\n  return [];\n}\n\nconst clusters = new Map();\nfor (const row of rows) {\n  const fp = row.duplicate_fingerprint || row.id;\n  if (!clusters.has(fp)) {\n    clusters.set(fp, {\n      fingerprint: fp,\n      topic: topicOf(row),\n      primary_staging_id: row.id,\n      source_count: 0,\n      confidence_score: 0,\n      entities: [],\n      staging_ids: []\n    });\n  }\n\n  const cluster = clusters.get(fp);\n  cluster.staging_ids.push(row.id);\n  cluster.source_count += 1;\n  cluster.items = cluster.items || [];\n  cluster.items.push(row);\n}\n\nconst output = [];\nfor (const cluster of clusters.values()) {\n  cluster.confidence_score = confidence(cluster);\n  cluster.entities = [];\n  delete cluster.items;\n  output.push({ json: cluster });\n}\n\nreturn output;"
      },
      "id": "clusterize",
      "name": "Clusterize Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/news_clusters",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "fingerprint"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  fingerprint: $json.fingerprint,\n  topic: $json.topic,\n  primary_staging_id: $json.primary_staging_id,\n  source_count: $json.source_count,\n  confidence_score: $json.confidence_score,\n  entities: $json.entities\n} }}"
      },
      "id": "upsert_cluster",
      "name": "Upsert Cluster",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of items) {\n  const ids = Array.isArray(item.json.staging_ids) ? item.json.staging_ids : [];\n  for (const id of ids) {\n    out.push({\n      json: {\n        id,\n        duplicate_fingerprint: item.json.fingerprint\n      }\n    });\n  }\n}\nreturn out;"
      },
      "id": "expand_ids",
      "name": "Expand Staging IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        180
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/news_staging",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{$json.id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { processed: true, duplicate_fingerprint: $json.duplicate_fingerprint } }}"
      },
      "id": "mark_processed",
      "name": "Mark Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        180
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Unprocessed Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unprocessed Staging": {
      "main": [
        [
          {
            "node": "Clusterize Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clusterize Duplicates": {
      "main": [
        [
          {
            "node": "Upsert Cluster",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expand Staging IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Staging IDs": {
      "main": [
        [
          {
            "node": "Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}